body {
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(151, 151, 190, 0.4);
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: rgba(151, 151, 190, 0.5);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(151, 151, 190, 0.6);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height:100px;
    border-radius: 50px;
    border: none;
    background-color: rgba(151, 151, 190, 0.6);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color:  rgba(151, 151, 190, 0.8);
}

button:active {
    background-color:  rgb(132, 132, 165);;
}

.op {
    background-color: rgba(81, 132, 199, 0.405);
}

.op:hover {
    background-color: rgba(81, 132, 199, 0.605);
}

.op:active {
    background-color: rgba(81, 132, 199, 0.905);
}